@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pri-color: #323445;
    --sec-color: #232533;
    --text-color: #5A5E6F;
    --color: #FEC158;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--pri-color);
}

.home {
    /* background-color: var(--text-color); */
    padding: 2rem 0;
    /* position: fixed; */
    /* width: 100%; */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: inherit;
    text-transform: capitalize;
    padding: 0 1rem;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: inherit;
}

.navbar-brand {
    font-size: 2rem;
    color: #000;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--color);
}

.navbar-brand span {
    font-weight: 700;
    padding-left: -10px;
    font-size: 3rem;
    margin-left: -5px;
}


/* ABOUT || HOME  */

.about {
    background-color: var(--pri-color);
}

.me-intro {
    padding: 10rem 2rem 0 0;
    color: #fff;
}

.me-intro #name {
    line-height: 6rem;
    font-size: 6rem;
    font-weight: 600;
    z-index: 100;
}

.me-intro .social {
    font-size: 1.6rem;
    padding: 4rem 0;
}

.me-intro .social i {
    padding: 0 .8rem 0 0;
    cursor: pointer;
    opacity: .4;
}

.me-intro i:hover {
    opacity: 1;
    color: var(--color);
}


/* .me-intro img {
    float: right;
    margin-top: -15rem;
    margin-left: 4rem;
    width: 30rem;
    height: auto;
} */

.intro {
    padding: 8rem 0 0 0;
}

.intro h3 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
}

.intro h3::before {
    content: "~";
    font-size: 2rem;
    padding: 0 .7rem 0 0;
}

.intro h4 {
    color: #fff;
    font-weight: 400;
    line-height: 2.8rem;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    padding: 0 0 1.2rem 0;
}

.intro em {
    color: var(--text-color);
    font-size: 1.3rem;
    padding-bottom: 5rem;
}

.intro .about-me a {
    color: var(--color);
    text-transform: capitalize;
    font-size: 1rem;
    text-decoration: none;
}


/* PROFILE  */

.me-more {
    padding: 4rem 0;
    background-color: var(--sec-color);
}

.profile h3 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
}

.profile h3::before {
    content: "~";
    font-size: 2rem;
    padding: 0 .7rem 0 0;
}

.profile p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 2rem 1rem;
    color: var(--text-color);
}

.profile img {
    border-radius: 50%;
    max-width: 8rem;
    height: auto;
}


/* skills  */

.cont-skill {
    width: 100%;
    /* position: absolute; */
    /* padding: 50px 30px; */
    /* border-radius: 10px; */
}

.cont-skill h2 {
    margin-bottom: 30px;
}

.cont-skill .skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}

.cont-skill .skill::before {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    background-color: #959595;
    bottom: 0;
    border-radius: 10px;
}

.cont-skill .skill .skill-bar:hover::before {
    height: 100%;
}

.cont-skill .skill p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.cont-skill .skill .skill-bar {
    width: 100%;
    height: 10px;
    display: block;
    position: relative;
    border-radius: 10px;
    animation: animated 1s both;
}

.cont-skill .skill .skill-bar.skill1 {
    background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%);
    width: 95%;
}

.cont-skill .skill .skill-bar.skill2 {
    background-image: linear-gradient(109.6deg, rgba(253, 199, 141, 1) 11.3%, rgba(249, 143, 253, 1) 100.2%);
    width: 90%;
}

.cont-skill .skill .skill-bar.skill3 {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 193, 104, 1) 0%, rgba(251, 128, 128, 1) 90%);
    width: 70%;
}

.cont-skill .skill .skill-bar.skill4 {
    background-image: linear-gradient(109.6deg, rgba(218, 185, 252, 1) 11.2%, rgba(125, 89, 252, 1) 91.1%);
    width: 80%;
}

.cont-skill .skill .skill-bar.skill5 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    width: 90%;
}

.cont-skill .skill .skill-bar.skill6 {
    background: linear-gradient(25deg, #db789d, #3cff87 50%);
    width: 85%;
}

.cont-skill .skill .skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 3px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.cont-skill .skill .skill-bar.skill1 span.skill-count,
.cont-skill .skill .skill-bar.skill2 span.skill-count,
.cont-skill .skill .skill-bar.skill3 span.skill-count,
.cont-skill .skill .skill-bar.skill4 span.skill-count,
.cont-skill .skill .skill-bar.skill5 span.skill-count,
.cont-skill .skill .skill-bar.skill6 span.skill-count {
    right: 0;
}

@keyframes animated {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: matrix3d(0, 0, 0);
    }
}


/* potfolio  */

.pfolio {
    background-color: var(--pri-color);
    padding: 1rem 0;
}

.pfolio h3 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
    padding: 2rem 0;
}

.pfolio h3::before {
    content: "~";
    font-size: 2rem;
    padding: 0 .7rem 0 0;
}

.card-info {
    background-color: var(--sec-color);
    padding: 1rem;
    border-bottom-right-radius: 20px;
    margin: 1rem 0;
}

.card-info .folio-name {
    font-weight: 500;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.card-info .p-descr {
    font-weight: lighter;
    color: var(--text-color);
    font-size: 1.2rem;
}

.card-info .about-me a {
    color: var(--color);
}


/* blog  */

.blog {
    padding: 3rem 0;
}

.blog h3 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
    padding: 2rem 0;
}

.blog h3::before {
    content: "~";
    font-size: 2rem;
    padding: 0 .7rem 0 0;
}

.blog h4 {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
}

.blog-1 {
    align-items: center;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.blog-1 .b-date {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.blog-1 .b-info {
    color: #fff;
    font-size: 1.3rem;
}

.blog-1 i {
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--color);
}

#bl-1 {
    border-bottom: 1px solid var(--text-color);
}


/* footer  */

footer {
    padding: 3rem 0;
    text-align: center;
    background-color: var(--sec-color);
    justify-content: center;
}

footer h4 {
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
}

footer small {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: lighter;
}

footer input {
    background: none;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid var(--text-color);
    padding: 1rem 0;
    width: 500px;
    margin: 1rem 0;
    outline: none;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

footer input::placeholder {
    letter-spacing: normal;
}

footer .btn-submit {
    background-color: var(--color);
    border: none;
    outline: none;
    color: #fff;
    width: 500px;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 400;
    padding: 1rem 0;
    letter-spacing: .3rem;
}