@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pri-color: #323445;
    --sec-color: #232533;
    --text-color: #5A5E6F;
    --color: #FEC158;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--pri-color);
}

.home {
    /* background-color: var(--text-color); */
    padding: 2rem 0;
    /* position: fixed; */
    /* width: 100%; */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: inherit;
    text-transform: capitalize;
    padding: 0 1rem;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: inherit;
}

.navbar-brand {
    font-size: 2rem;
    color: #000;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--color);
}

.navbar-brand span {
    font-weight: 700;
    padding-left: -10px;
    font-size: 3rem;
    margin-left: -5px;
}


/* ABOUT || HOME  */

.about {
    background-color: var(--pri-color);
}

.me-intro {
    padding: 10rem 2rem 0 0;
    color: #fff;
}

.me-intro #name {
    line-height: 6rem;
    font-size: 6rem;
    font-weight: 600;
    z-index: 100;
}

.me-intro .social {
    font-size: 1.6rem;
    padding: 4rem 0;
}

.me-intro .social i {
    padding: 0 .8rem 0 0;
    cursor: pointer;
    opacity: .4;
}

.me-intro i:hover {
    opacity: 1;
    color: var(--color);
}


/* .me-intro img {
    float: right;
    margin-top: -15rem;
    margin-left: 4rem;
    width: 30rem;
    height: auto;
} */

.intro {
    padding: 8rem 0 0 0;
}

.intro h3 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
}

.intro h3::before {
    content: "~";
    font-size: 2rem;
    padding: 0 .7rem 0 0;
}

.intro h4 {
    color: #fff;
    font-weight: 400;
    line-height: 2.8rem;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    padding: 0 0 1.2rem 0;
}

.intro em {
    color: var(--text-color);
    font-size: 1.3rem;
    padding-bottom: 5rem;
}

.intro .about-me a {
    color: var(--color);
    text-transform: capitalize;
    font-size: 1rem;
    text-decoration: none;
}


/* PROFILE  */

.me-more {
    padding: 4rem 0;
    background-color: var(--sec-color);
}

.profile h3 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
}

.profile h3::before {
    content: "~";
    font-size: 2rem;
    padding: 0 .7rem 0 0;
}

.profile p {
    color: var(--text-color);
}

.profile img {
    border-radius: 50%;
}